// BalanceBadge

// Variables
// =========

// Selectors

.badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 2px 6px 2px 6px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
  width: fit-content;
  margin: auto;
}

.success {
  color: #82c17a;
  background-color: rgba(130, 193, 122, 0.2);
}

.warning {
  color: #eb934b;
  background-color: rgba(235, 147, 75, 0.2);
}

.danger {
  color: #e26b84;
  background-color: rgba(226, 107, 132, 0.2);
}

.iconPadding {
  padding-right: 4px;
  padding-top: 1px;
}
// =========

// MediaQueries
// ============
