@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap&subset=cyrillic-ext');
@import './variables.scss';
@import './button.scss';
@import './recaptcha.scss';

body {
  font-family: 'Open Sans', sans-serif !important;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #f1f3f6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1f3f6;
}

/* hiding arrows (Chrome, Safari, Edge, Opera) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* hiding arrows for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
  font-weight: 300;
}

h5 {
  font-size: 18px;
  font-weight: 600;
}

.inactive:hover,
.inactive.ant-menu-item-selected,
.inactive.ant-menu-item-active {
  border-bottom: 2px solid transparent !important;
}

.ant-input {
  &:hover,
  &:hover,
  &:active,
  &:visited,
  &:focus {
    border-color: $main-color;
  }
  &.error {
    border-color: $error-color;
  }
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $main-color;
  border-color: $main-color;
}

.site-card-wrapper {
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  background-color: #f9fafc;
  height: 100%;
  h2 {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  & > h1 {
    margin-bottom: 11px;
  }
  & > p {
    font-family: Roboto;
    margin-bottom: 20px;
    color: #73797f;
    font-size: 13px;
    letter-spacing: -0.09px;
    line-height: 20px;
  }
  .ant-card-head {
    padding-left: 20px;
    padding-right: 20px;
  }
  .ant-card-head-title {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 28px;
  }
  .ant-card-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer {
    border-top: 1px solid rgba(214, 220, 227, 0.4);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    .item {
      font-size: 11px;
      padding-right: 20px;
      color: #73797f;
      span {
        font-weight: 600;
      }
    }
  }
}

.ant-card {
  border-radius: 4px;
}

// NB: Т.к. для линейчатого прогресс бара используется bootstrap,
// то класс row должен быть приведен к стилям от ант дизайна
.row {
  margin-right: 0;
  margin-left: 0;
}
