// CheckBox

// Variables
// =========

// Selectors
.labelText {
  color: #37404b;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.09px;
  line-height: 20px;
}
// =========

// MediaQueries
// ============
