// Input

// Variables
// =========

// Selectors
.labelText {
  color: #37404b;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.09px;
  line-height: 20px;
}

.error {
  border: 1px solid #e24848 !important;
}

.good {
  border: 1px solid #66acac !important;
}

.inputWrapper {
  position: relative;
}

.suffix {
  position: absolute;
  right: 7px;
  top: 9px;
}

.inputUsual {
  padding-right: 24px;
}

.inputLabel {
  color: #37404b;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 8px;
}

.longLabel {
  width: max-content;
}
// =========

// MediaQueries
// ============
