// Select

// Variables
// =========

// Selectors
.error {
  border: 1px solid #e24848 !important;
}

.good {
  border: 1px solid #66acac !important;
}

.label {
  color: #37404b;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 8px;
}

.longLabel {
  width: max-content;
}
// =========

// MediaQueries
// ============
